minecraft/config/Discord-Integration.toml
minecraft/$onlinedisplays
minecraft/DiscordIntegration-Data
minecraft/Distant_Horizons_server_data
minecraft/XaeroWaypoints_BACKUP240807
minecraft/automodpack/.private
minecraft/automodpack/modpacks
minecraft/controller-options.txt
minecraft/coremods
minecraft/essential
minecraft/fancymenu_data
minecraft/hs_err_pid10144.log
minecraft/hs_err_pid110664.log
minecraft/hs_err_pid181076.log
minecraft/hs_err_pid18760.log
minecraft/hs_err_pid19368.log
minecraft/hs_err_pid36892.log
minecraft/hs_err_pid37076.log
minecraft/hs_err_pid41368.log
minecraft/hs_err_pid42640.log
minecraft/hs_err_pid47468.log
minecraft/hs_err_pid50068.log
minecraft/hs_err_pid63108.log
minecraft/hs_err_pid7012.log
minecraft/hs_err_pid97364.log
minecraft/hs_err_pid98988.log
minecraft/local
minecraft/menuworlds
minecraft/modernfix
minecraft/modsbckp
minecraft/openvr
minecraft/options.txt
minecraft/optionsviveprofiles.txt
minecraft/panoramas
minecraft/patchouli_books
minecraft/patchouli_data.json
minecraft/player_models
minecraft/quests_structures
minecraft/resourcepacks/test
minecraft/rhino.local.properties
minecraft/saves
minecraft/schematics
minecraft/screenshots
minecraft/server-resource-packs
minecraft/servers.dat
minecraft/servers.dat_old
minecraft/servers.essential.dat
minecraft/supportercache.json
minecraft/texturepacks
minecraft/usercache.json
minecraft/usernamecache.json
minecraft/voicechat_recordings
minecraft/xaero